<script src="static/scripts/fetch.js"></script>

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/static/style/css/style_global.css" />
  <link rel="stylesheet" href="/static/style/css/fontello.css" />
  <link rel="stylesheet" href="/static/style/css/mfglabs.css" />
  <link rel="icon" href="/static/style/images/icon.png" type="image/x-icon" />
  <title>Documentum</title>
</head>

<body>
  <div class="container">
    {{if .UserIsValid}}
    {{template "main" .}}
    {{else}}
    {{template "entrance" .}}
    {{end}}
  </div>

  <div class="server__messages">
    <p class="server__messages--text"></p>
    <div>
      <button class="server__messages--btn"></button>
    </div>
  </div>
</body>

</html>


<script src="static/scripts/user_validator.js"></script>
<script src="static/scripts/messages.js"></script>
<script src="static/scripts/theme.js"></script>
<script src="static/scripts/jquery-3.7.0.js"></script>