.sidePanel {
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    background: var(--blur-bgr-color);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}